In [1]:
from utils import eval_preds
test_path = "/home/student/git_NLP/NLP/HW1/data/test1.wtag"
predictions_path = "/home/student/git_NLP/NLP/HW1/predictions_test1.wtag"
accuracy_score, confusion_matrix, _ = eval_preds(test_path, predictions_path)

In [38]:
import pandas as pd
mistake_counts = {}
for true_label, mistakes in confusion_matrix.items():
    if true_label not in mistake_counts:
        mistake_counts[true_label] = {}
    for mistake_label in mistakes:
        if mistake_label not in mistake_counts[true_label]:
            mistake_counts[true_label][mistake_label] = 1
        else:
            mistake_counts[true_label][mistake_label] += 1

sorted_classes = sorted(mistake_counts.items(), key=lambda x: sum(x[1].values()), reverse=True)[:10]

all_labels = set(dict(sorted_classes).keys())
for true_label, mistakes in sorted_classes:
    all_labels.update(set(mistakes.keys()))

df = pd.DataFrame(index=[x[0] for x in sorted_classes], columns=all_labels)

for true_label, mistakes in sorted_classes:
    for mistake_label, count in mistakes.items():
        df.at[true_label, mistake_label] = count
        
df.fillna(0, inplace=True)

sorted_columns = [col for col in df.index if col in df.columns]
sorted_columns += [col for col in df.columns if col not in sorted_columns]
df = df.reindex(columns=sorted_columns)

In [39]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
display(df)

      NN  JJ  IN  NNP  VBN  RB  NNPS  VBD  VB  VBP  CD  CC  RBR  DT  NNS  VBZ  WDT  RP  MD  VBG  JJR  JJS
NN     0  83   1   25    1   9     0    3  12    3   4   1    0   0   38    1    0   1   1   27    0    0
JJ    70   0   1   22   26  12     0    5   5    1   0   0    0   0    2    0    0   0   0    6    0    0
IN     3   0   0    2    0  43     0    0   0    0   0   0    0   4    0    0    4  11   0    1    0    0
NNP   12  26   1    0    0   0    17    1   0    0   2   0    0   2    2    0    0   0   0    1    0    0
VBN    2  27   0    0    0   0     0   32   0    0   0   0    0   0    0    0    0   0   0    0    0    0
RB     8  19  16    0    0   0     0    0   2    0   0   1    2   6    0    0    0   1   0    0    2    1
NNPS   0   4   0   28    0   0     0    0   0    0   0   0    0   0   20    0    0   0   0    0    0    0
VBD    3   0   0    0   33   0     0    0   2    1   0   0    0   0    0    0    0   0   0    0    0    0
VB    15   4   1    2    0   1     0    1   0   10   0   0    0   0    0    0    0   0   0    1    1    0
VBP   11   4   0    0    0   0     0    3  10    0   0   0    0   0    0    1    0   0   0    1    0    0

In [44]:
def highlight_positive(val):
    color = 'yellow' if val > 0 else 'white'
    return f'color: {color}'

# Apply the styling function to the DataFrame
styled_df = df.style.applymap(highlight_positive)

# Display the styled DataFrame
styled_df

In [57]:
def gradual_color(val):
    if val == 0:
        color = '#00FF00'
    elif val < 15:
        color = 'yellow'
    elif 15 <= val <= 30:
        color = 'orange'
    else:
        color = '#FF5733'
    return f'color: {color}'

# Apply the styling function to the DataFrame
styled_df = df.style.applymap(gradual_color)

# Display the styled DataFrame
styled_df

In [3]:
from utils import eval_preds
accuracy_score, confusion_matrix, word_mistakes_matrix = eval_preds(labeled_test_path="/home/student/git_NLP/NLP/HW1/data/comp1.wtag_public", prediction_path=rf"/home/student/git_NLP/NLP/HW1/comp_m1_206713612_316111442.wtag")

ValueError: too many values to unpack (expected 2)